.rtServicesForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}

@media screen and (max-width: 1440px) {
    .rtSubmitAddServicesForm{
        width: 116px !important;
        height: 49px !important;
        border-radius: 6px !important;
        font-size: 14px !important;
    }

}

@media screen and (max-width: 992px) {
    .rtSubmitAddServicesForm{
        width: 116px !important;
        width: 100% !important;
        height: 49px !important;
        border-radius: 6px !important;
        font-size: 14px !important;
    }
}