
.rt{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center !important;
    align-items: center;
    .rtTop , .rtBottom{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }
    .rtSectionCrud{
        width: 350px !important;
        border-radius: 16px !important;
        transition: ease-in-out 0.4s;
    }
}
.rtSectionCrud:hover{
    transform: scale(1.1);
}