.rtContactForm{
    padding: 80px;
    border: 1px solid var(--grey15);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .rtFirstRow{
        width: 100%;
        display: flex;
        gap: 40px;
    }
    .rtSecondRow{
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        border: 1px solid var(--grey15);
        border-radius: 12px;
        background-color: var(--grey12);
        span{
            font-size: 22px;
            line-height: 150%;
            letter-spacing: 0%;
        }
        .rtContainerChecks{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .rtRowChecks{
                display: flex;
                gap: 20px;
                color: var(--green99);
                font-family: var(--font-primary);
                line-height: 150%;
            }
        }
    }
    .rtThirdRow{
        width: 100%;
        padding: 24px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid var(--grey15);
        border-radius: 6px;
        background-color: var(--grey12);
        label{
            font-size: 22px;
            line-height: 150%;
        }
        div{
            display: flex;
            flex-direction: column;
            gap: 40px;
            textarea{
                padding-bottom: 6px;
                background-color: #ffffff00;
                font-size: 18px;
                line-height: 150%;
                border: none;
                border-bottom: 1px solid var(--grey20);
                line-height: 33px;
                background-image: linear-gradient(transparent 31px , var(--grey20) 31px);
                background-size: 100% 33px;
                background-attachment: local; 
                height: 66px;
                
                &::placeholder{
                    color: var(--grey40);
                }
                
            }
            div{
                border: 1px solid var(--grey20);
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .rtContactForm{
        padding: 60px;
        gap: 30px;
        .rtFirstRow{
            gap: 30px;
        }
        .rtSecondRow{
            padding: 30px;
            gap: 30px;
            border-radius: 8px;
            span{
                font-size: 18px;
            }
        }
        /* .rtThirdRow{
            padding: 20px 30px;
            label{
                font-size: 16px;
            }
            div{
                gap: 34px;
                textarea{
                    font-size: 16px;
                }
            }
        } */
        .rtSubmitForm{
            width: 116px !important;
            height: 49px !important;
            border-radius: 6px !important;
            font-size: 14px !important;
        }
    }
}


@media screen and (max-width: 992px) {
    .rtContactForm{
        padding: 24px;
        gap: 30px;
        .rtFirstRow{
            flex-direction: column;
            gap: 30px;
        }
        .rtSecondRow{
            padding: 30px;
            gap: 30px;
            border-radius: 8px;
            span{
                font-size: 16px;
            }
            .rtContainerChecks{
                .rtRowChecks{
                    flex-direction: column;
                }
            }
        }
        /* .rtThirdRow{
            padding: 18px 24px;
            gap: 14px;
            label{
                font-size: 16px;
            }
            div{
                gap: 34px;
                textarea{
                    font-size: 16px;
                }
            }
        } */
        .rtSubmitForm{
            width: 116px !important;
            width: 100% !important;
            height: 49px !important;
            border-radius: 6px !important;
            font-size: 14px !important;
        }
    }
}

