.footer-container {
  padding: 50px 8.4vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-top: 1px solid var(--grey15);
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-brand-nav {
  display: flex;
  align-items: center;
  gap: 17.4%;
  width: 56vw;
  justify-content: space-between;
}
.footer-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
}

.footer-nav li a {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: var(--fw-medium);
  color: var(--grey90);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: var(--absolutefff);
}

.social-wrapper {
  max-width: 402px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--grey12);
  border: 1px solid var(--grey15);
  border-radius: 12px;
  white-space: nowrap;
}

.social-label {
  padding: 32.5px 0 32.5px 24px;
  padding: 3vh 0 3vh 1.7vw;
  font-family: var(--font-primary);
  font-weight:var(--fw-medium) ;
  font-size: 18px;
  color: var(--grey90);
}


.social-box {
  padding: 14px 14px 14px 0;
  padding: 1.3vh 0.7vw 1.3vh 0;
  display: flex;
  align-items: center;
  gap: 14px;
  gap: 0.7vw;
  background-color: transparent;
}


.social-box a {
  width: 64px;
  height: 64px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: linear-gradient(to bottom , #242424 , #24242400) padding-box, linear-gradient( to bottom , #2e2e2e , #2E2E2E00) border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  transition: transform 0.2s, border-color 0.2s;
}

.social-box a:hover {
  border-color: var(--green80);
  transform: translateY(-2px);
}

.rtFacebook {
  width: 24px;
  height: 24px;
  padding: 0 5px;
  padding-top: 4.5px;
  overflow: hidden;
  background-color: var(--green50); 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.rtLinkedIn{
  width: 24px;
  height: 24px;
  padding: 3.5px;
  background-color: var(--green50);
  border-radius: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rtTwitter{
  width: 24px;
  height: 24px;
  align-items: center;
}

.social-box a[aria-label="Facebook"] .rtFacebook svg,
.social-box a[aria-label="LinkedIn"] .rtLinkedIn svg {
  color: var(--grey15);
  font-size: 24px;
}

.social-box a[aria-label="Twitter"] .rtTwitter svg {
  color: var(--green50); 
  font-size: 24px;
}

.footer-divider {
  width: 100%;
  border-bottom: 1px solid var(--grey15);
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  font-size: 18px;
  color: var(--grey90);
  border-bottom: 1px solid var(--grey15);
  padding-bottom: 16px;
  transition: border-color 0.3s, color 0.3s;
}

.contact-item:hover {
  color: var(--absolutefff);
  border-bottom-color: var(--green80);
}

.contact-icon {
  color: var(--green50);
  font-size: 24px;
}

.footer-copyright {
  color: var(--grey60);
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  font-size: 18px;
}



@media (max-width: 1440px) {
.footer-container {
  padding: 40px 5.55vw;
  gap: 40px;
}

.footer-brand-nav {
  width: 60vw;
}
.footer-nav {
  max-width: 470px;
  gap: 20px;
}

.footer-nav li a {
  font-size: 16px;
}

.social-wrapper {
  border-radius: 8px;
  }

.social-label {
  padding: 24px 0 20px 24px;
  font-size: 16px;
}


.social-box {
  padding: 10px 10px 10px 0;
  gap: 10px;
}


.social-box a {
  width: 52px;
  height: 52px; 
  border-radius: 6px;
  padding: 16px;
}

.rtFacebook{
  width: 20px;
  height: 20px;
  padding: 0 4px;
  padding-top: 4px;
}
.rtTwitter{
  width: 20px;
  height: 20px;
}
.rtLinkedIn{
  width: 20px;
  height: 20px;
}
.social-box a[aria-label="Facebook"] .rtFacebook svg,
.social-box a[aria-label="LinkedIn"] .rtLinkedIn svg {
  color:var(--absolute000);
}
.social-box a[aria-label="Twitter"] .rtTwitter svg {
  color: var(--green50); 
  font-size: 20px;
}

.footer-contact {
  gap: 22px;
}

.contact-item {
  gap: 6px;
  font-size: 16px;
  padding-bottom: 12px;
}


.contact-icon {
  font-size: 17.5px;
}

.footer-copyright {
  font-size: 14px;
}
}


@media (max-width: 992px) {
  .footer-container {
    padding: 30px 4vw;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .footer-top {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .footer-brand-nav {
    flex-direction: column;
    gap: 17.45px;
    align-items: center;
    width: 100%;
  }

  .footer-nav {
    max-width: 574px;
    padding-top: 30px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    gap:  20px;
    border-top: 1px solid var(--grey15)
  }

  .footer-nav a {
    font-size: 16px;
  }

  .social-wrapper {
    flex-direction: column;
    gap: 14px;
    width: 100%;
  }

  .social-label {
    padding: 16px 118.5px 0 128.5px;
    font-size: 16px;
  }

  .social-box {
    padding: 0 86px 16px 96px;
    justify-content: center;
  }
  .footer-divider{
    border-bottom: none;
  }
  .social-box a {
    width: 52px;
    height: 52px;
  }



  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }

  .footer-contact {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px; 
  }

  .contact-item {
    width: 100%;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 20px;
  }

  .footer-copyright {
    font-size: 16px;
  }
}