
@media screen and (max-width:1800px){
.bh-dashboard .bh-cards {
  display: flex !important;
  flex-direction: column !important;
  /* margin-top: 10px !important; */
    height: auto;
    justify-content: center;
    align-items: center;
  border: none;
  .bh-card{
    border-left: 1px solid var(--grey15);
  }
}
}